.footer {
  width: 100%;
  height: 100%;
  background: #282828;
}

.footer_wrap {
  max-width: 640px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.footer_link_list {
  display: flex;
}

.footer_link {
  margin-bottom: 10px;
}

.footer_bar:after {
  content:" | ";
  margin:0 5px;
}

.footer_txt {
  margin-top: 10px;
  color: #8c8c8c
}

.admin {
  position: absolute;
  top: 55px;
  right: 20px;
}