/* content */
.content {
  padding-top: 100px;
  font-size: 1.6em;
}

.main_info {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main_title_wrap {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 4;
}

.main_title {
  width: 340px;
  height: 270px;
  background: url(../images/TFT_title.png) no-repeat;
  background-size: cover;
}

.m_chr_wrap {
  width: 70%;
  max-width: 357px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.m_main_chr {
  max-width: 100%;
  height: auto;
}

.m_bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.video-container {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%,0);
}

.m_sub_bg {
  width: 100%;
  position: absolute;
  top: 17%;
  z-index: 1;
}

.main_btn {
  font-family: 'RixYeoljeongdo_Regular';
  font-size: 1.7rem;
  width: 80%;
  height: 70px;
  background-color: #7d6391;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 4;
}

.cont_wrap {
  margin: auto;
  padding:0 5%;
}

h2 {
  font-family: 'RixYeoljeongdo_Regular';
  font-size: 200%;
  text-align: center;
  margin-bottom: 20px;
}

.cst_card {
  padding: 0;
  background: #4d3b5b;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  max-width: 500px;
  margin: auto;
}

.cst_card_txt {
  padding: 20px;
}

.cst_card_txt h3{
  font-weight: bold;
  font-size: 1.8rem;
}

.cst_card_txt p {
  margin-top: 10px;
  font-size: 1.1em;
}

.cst_card img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.all_view {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  background: #7d6391;
  border-radius: 5px;
}

.all_view:hover {
  color: white;
  background: #73429b;
}

.syn_cont {
  margin: 150px auto 30%;
  position: relative;
}

.syn_title_wrap {
  margin-bottom: 20px;
  text-align: center;
}

.syn_title_wrap h2{
  margin: 0 auto 5px;
}

.syn_slide {
  margin: auto;
  width:100%;
  text-align: center;
}

.syn_card_wrap {
  padding: 90px 2% 0;
}

.syn_card{
  display: block !important;
  margin: auto;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background: linear-gradient(190deg, #4f4e4e 10%,#282828 90%, #4f4e4e );
  padding: 20px;
  position: relative;
  max-width: 505px;
  /* min-height: 400px; */
}

.syn_symbol {
  position: absolute;
  top: -90px;
  right: -20px;
  width: 150px;
  height: 162px;
  background: url(../images/ico_symbol.png) no-repeat;
  background-size: cover;
}

.syn_txt {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.syn_txt h3{
  font-weight: bold;
  font-size: 1.8rem;
}

.syn_txt p {
  font-size: 18px;
  margin: 20px 0;
}

.syn_txt pre {
  font-size: 18px;
  margin: 10px 0;
  color:#ccc;
  white-space: pre-wrap;
}

.syn_cham_list {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap:wrap;
  margin: 0;
}

.syn_cham_list div{
  width: 50%;
  max-width: 23%;
  max-height: 23%;
  margin: 1%;
  border-radius: 5px;
}

.syn_cham_img {
  width: 100%;
  height: 100%;
}

.agm_cont{
  position: relative;
}

.agm_slide {
  margin: auto;
}

.agm_wrap {
  padding: 40px 2%;
}


.agm_hero_wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.agm_txt {
  margin-top: 200px;
  padding: 15px;
}


.agm_hero_left {
  width: 48%;
  height: 100%;
  margin-right: 1%;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.7);
  max-width: 270px;
  overflow: hidden;
  position: relative;
  min-height: 650px;
}

.agm_left_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: inherit;
  background: linear-gradient(
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,0.2) 20%,
    rgba(0,0,0,0.6) 25%,
    rgba(0,0,0,1) 40%,
    rgba(0,0,0,1) 100%
  );
  z-index: -1;
}

.agm_left_img {
  position: absolute;
  top: 40px;
  right: 25px;
  transform: scale(1.5);
  z-index: -2;
}

.agm_hero_right {
  margin-top: 100px;
  width: 48%;
  height: 100%;
  margin-left: 2%;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.7);
  max-width: 270px;
  overflow: hidden;
  position: relative;
  min-height: 650px;
}

.agm_right_img {
  position: absolute;
  top: 40px;
  right: 25px;
  transform: scale(1.5);
  z-index: -2;
} 

.skill_title{
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.link_wrap {
  height: 90vh;
  margin-top: 50%;
  text-align: center;
  position: relative;
}

.link_txt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.link_wrap p {
  font-family: 'RixYeoljeongdo_Regular';
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.link_btn {
  font-family: 'RixYeoljeongdo_Regular';
  font-size: 1.8rem;
  width: 80%;
  height: 70px;
  max-width: 400px;
  background-color: #7d6391;
  border: none;
  border-radius: 10px;

}

.bot_bg_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  overflow: hidden;
}

.bot_bg {
  height: 100%;
  position: relative;
}

.bot_bg img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bot_bg_main{
  z-index: 2;
}

.bot_bg_right, .bot_bg_left{
  z-index: 1;
}

.pc_bg {
  display: none;
}

.pc_main_title {
  display: none;
}

.main_line {
  display: none;
}

.cst_lux_wrap {
  display: none;
}

.slide_arrow {
display: none ;
}


@media screen and (min-width:1000px) {
  /* content */
  h2 {
    font-size: 220%;
  }


  .content {
    padding-top: 0;
  }

  .main_title_wrap {
    display: none;
  }

  .m_bg{
    display: none;
  }

  .main_info {
    height: 100%;
  }

  .pc_bg {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
  }

  .pc_bg_img {
    width: 100%;
  }

  .pc_main_title {
    display: block;
    position: absolute;
    width: 340px;
    height: 270px;
    background: url(../images/TFT_title.png) no-repeat;
    background-size: cover;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
  }

  .v_wrap {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    max-width: 1600px;
    margin: auto;
  }

  .cinematic_wrap {
    position: relative;
    width: 100%;
    padding-bottom:50%;
    max-width: 1200px;
    margin: 150px auto 10px;
  }

  
  .cinematic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 670px;
    margin: auto;
  }

  .y_link {
    font-family: 'RixYeoljeongdo_Regular'; 
    font-size: 24px;
  }

  .lux_wrap {
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    position: absolute;
    bottom: -16%;
    right: -5%;
  }

  .lux {
    max-width: 100%;
    height: auto;
  }

  /* new */

  .new_cont {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;
  }

  .new_hero {
    position: absolute;
    top:5%;
    left: -30%;
  }

  .new_threat {
    position: absolute;
    top:50%;
    right: -40%;
  }

  .new_anvil {
    position: absolute;
    top:99%;
    left: -20%;
  }

  .cst_lux_wrap {
    display: block;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    position: absolute;
    top: -392px;
    right: -30%;
  }

  .cst_lux {
    max-width: 100%;
    height: auto;
  }

  .line_wrap {
    margin: 6% auto 0;
  }

  .main_line {
    display: block;
    max-width: 100%;
  }

  .syn_cont {
    margin: 600px auto 15%;
  }

  .syn_title_wrap {
    margin-bottom: 50px;
  }

  .syn_card_wrap {
    padding: 55px 2% 0;
  }

  .syn_txt {
    width: 65%;
  }

  .syn_symbol {
    top: -53px;
    left: auto;
    right:-6%;
    width: 200px;
    height: 222px;
  }
  
  .syn_txt pre {
    width: 150%;
  }

  .slide_arrow {
    display: block;
  }

  .slide_prev {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 30%;
  }

  .slide_next {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30%;
  }
}
